@use '../app.component.scss' as *;
mat-toolbar {
  background-color: $dark-mode-and-light-mode-elements;
  box-shadow: 0 0 3px $light-mode-input;
  &.darkMode {
    background-color: $dark-mode-elements;
    box-shadow: 0 0 3px $dark-mode-elements;
  }
  padding: 12px 0;
  &-row {
    width: 90%;
    margin: 0 auto;
    .title {
      color: $light-mode-text;
      &.darkText {
        color: $dark-mode-and-light-mode-elements;
      }
      font: {
        family: "Nunito Sans";
        size: 1.6rem;
        weight: 800;
      }
    }
    .toggle-mode {
      color: $light-mode-text;
      font: {
        family: "Nunito Sans";
        size: 0.9rem;
        weight: 800;
      }
    }
    .spacer {
      flex: 1 1 auto;
    }
    .mode {
      display: flex;
      align-items: center;
      cursor: pointer;
      img {
        width: 21px;
        height: 21px;
        margin-right: 8px;
        transform: rotate(138deg);
      }
      span {
        &.darkText {
          color: $dark-mode-and-light-mode-elements;
        }
      }
    }
  }
}

// Responsive

@media (min-width: 375px) and (max-width: 500px) {
  mat-toolbar {
    &-row {
      width: 100%;
      .title {
        font-size: 1rem;
      }
      img {
        margin-right: 4px !important;
        width: 19px !important;
        height: 19px !important;
      }
      .toggle-mode {
        font-size: 0.8rem;
      }
    }
  }
}
@media (min-width: 600px) and (max-width: 999px) {
  mat-toolbar {
    &-row {
      width: 95%;
      .title {
        font-size: 1rem;
      }
      img {
        margin-right: 4px !important;
        width: 19px !important;
        height: 19px !important;
      }
      .toggle-mode {
        font-size: 0.8rem;
      }
    }
  }
}
