<div class="card-group">
  <ng-container *ngIf="boolRegion === boolSearch && !boolSearch && !boolRegion">
    <mat-card
      *ngFor="let country of countries"
      (click)="sendRoute(country.name)"
      [ngClass]="mode ? 'modeDark' : ''"
    >
      <img mat-card-image [src]="country.flag" />
      <mat-card-content>
        <h3 [ngClass]="mode ? 'modeDarkText' : ''">{{ country.name }}</h3>
        <ul [ngClass]="mode ? 'modeDarkText' : ''">
          <li>
            <strong>Population:</strong> {{ country.population | number }}
          </li>
          <li><strong>Region:</strong> {{ country.region }}</li>
          <li><strong>Capital:</strong> {{ country.capital }}</li>
        </ul>
      </mat-card-content>
    </mat-card>
  </ng-container>
  <ng-container *ngIf="boolSearch">
    <mat-card
      *ngFor="let country of searchCountries"
      (click)="sendRoute(country.name)"
      [ngClass]="mode ? 'modeDark' : ''"
    >
      <img mat-card-image [src]="country.flag" />
      <mat-card-content>
        <h3 [ngClass]="mode ? 'modeDarkText' : ''">{{ country.name }}</h3>
        <ul [ngClass]="mode ? 'modeDarkText' : ''">
          <li>
            <strong>Population:</strong> {{ country.population | number }}
          </li>
          <li><strong>Region:</strong> {{ country.region }}</li>
          <li><strong>Capital:</strong> {{ country.capital }}</li>
        </ul>
      </mat-card-content>
    </mat-card>
  </ng-container>
  <ng-container *ngIf="boolRegion && !boolSearch">
    <mat-card
      *ngFor="let country of regions"
      (click)="sendRoute(country.name)"
      [ngClass]="mode ? 'modeDark' : ''"
    >
      <img mat-card-image [src]="country.flag" />
      <mat-card-content>
        <h3 [ngClass]="mode ? 'modeDarkText' : ''">{{ country.name }}</h3>
        <ul [ngClass]="mode ? 'modeDarkText' : ''">
          <li>
            <strong>Population:</strong> {{ country.population | number }}
          </li>
          <li><strong>Region:</strong> {{ country.region }}</li>
          <li><strong>Capital:</strong> {{ country.capital }}</li>
        </ul>
      </mat-card-content>
    </mat-card>
  </ng-container>
</div>
