<div class="container">
  <form>
    <div class="material-icons">search</div>
    <input type="text" placeholder="Search for a country..." />
  </form>
  <!-- <select>
    <option data-display="Select">Nothing</option>
    <option value="1">Some option</option>
    <option value="2">Another option</option>
    <option value="3" disabled>A disabled option</option>
    <option value="4">Potato</option>
  </select> -->
  <ng-select
    class="custom"
    [items]="cities"
    bindLabel="name"
    placeholder="Filter by Region"
    [(ngModel)]="selectedCity"
  >
  </ng-select>
</div>
