.container {
  width: 90%;
  height: 60px;
  margin: 60px auto auto auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  .modeDark {
    background-color: hsl(209, 23%, 22%);
    box-shadow: 0 0 3px hsl(207, 26%, 17%);
  }
  form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 35%;
    height: 100%;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0 0 2px hsl(0, 0%, 52%);
    mat-form-field {
      height: 60px;
    }
    input {
      width: 88%;
      border: none;
      color: hsl(200, 15%, 8%);

      &.modeDarkText {
        background-color: hsl(209, 23%, 22%);
        color: hsl(0, 0%, 100%);
      }

      font: {
        family: "Nunito Sans";
        size: 1rem;
        weight: 600;
      }
      &:focus {
        border: none !important;
        outline: 0;
      }
    }

    .material-icons {
      padding-left: 20px;
      color: hsl(200, 15%, 8%);
      opacity: 0.5;
      &.modeDarkText {
        color: hsl(0, 0%, 100%);
        opacity: 1;
      }
    }
  }
  .box {
    width: 14%;
    height: 100%;
    margin-right: 1%;

    .select-box {
      display: flex;
      flex-direction: column;
      .options-container {
        background-color: hsl(0, 0%, 100%);
        color: hsl(200, 15%, 8%);
        max-height: 0;
        width: 100%;
        opacity: 0;
        transition: all 0.4s;
        border-radius: 3px;
        overflow: hidden;
        z-index: 2;
        order: 1;
        margin-top: 8px;
        font: {
          size: 1rem;
          family: "Nunito Sans", sans-serif;
          weight: 600;
        }
        &.modeDark {
          background-color: hsl(209, 23%, 22%);
          color: hsl(0, 0%, 100%);
        }
      }
      .selected-container {
        // background-color: red;
        display: flex;
        align-items: center;
        position: relative;
        background-color: hsl(0, 0%, 100%);
        box-shadow: 0 0 2px hsl(0, 0%, 52%);
        cursor: pointer;
        // height: 100%;
        &.modeDark {
          background-color: hsl(209, 23%, 22%);
          box-shadow: 0 0 3px hsl(207, 26%, 17%);
          color: hsl(0, 0%, 100%);
        }
        .selected {
          top: 2px;
          display: flex;
          align-items: center;
          justify-content: center;

          height: 33px;
          box-shadow: none;
          color: hsl(200, 15%, 8%);
          order: 0;
          font: {
            size: 1rem;
            family: "Nunito Sans", sans-serif;
            weight: 600;
          }
          &.modeDark {
            color: hsl(0, 0%, 100%);
            box-shadow: none;
          }
        }
      }

      .options-container.active {
        max-height: 100%;
        opacity: 1;
      }

      .selected {
        padding: 12px 24px;
      }
      .option {
        display: block;
        padding: 10px 24px;
        cursor: pointer;
        &:hover {
          background-color: hsl(209, 23%, 22%);
          color: hsl(0, 0%, 100%);
        }
        &.modeDark {
          box-shadow: none;
          &:hover {
            background-color: #414b57;
          }
        }

        label {
          cursor: pointer;
        }
        .radio {
          display: none;
        }
      }
      .material-icons {
        position: absolute;
        right: 10px;
        transition: 0.3s ease-in;
        background-color: transparent;
        color: hsl(200, 15%, 8%);
        &.modeDark {
          color: hsl(0, 0%, 100%);
          box-shadow: none;
        }
      }
      .options-container.active + .selected-container .material-icons {
        transform: rotateX(180deg);
      }
    }
  }
}
::-webkit-input-placeholder {
  // color: hsl(200, 15%, 8%);
}

// Responsive

@media (min-width: 375px) and (max-width: 999px) {
  .container {
    margin: 35px 0 70px 0;
    form {
      position: relative;
      left: 30px;
      width: 96% !important;
      .material-icons {
        padding-right: 15px;
      }
    }
    .select-box {
      position: relative;
      left: 30px;
      margin-top: 40px;
      width: 220px !important;
    }
    .selected {
      font-size: 0.9rem !important;
    }

    .option {
      padding: 7px 24px !important;
      font-size: 0.8rem;
    }
  }
}
