.container {
  width: 100%;
  // background-color: red;
  margin-top: 5%;
  .back {
    width: 88%;
    margin: 0 auto;
    .btn {
      padding: 2px 35px;
      box-shadow: 0 0 3px hsl(0, 0%, 52%);
      color: hsl(200, 15%, 8%);
      &.darkMode {
        background-color: hsl(209, 23%, 22%);
        color: hsl(0, 0%, 100%);
        box-shadow: 0 0 3px hsl(209, 23%, 22%);
      }
      font: {
        weight: 600;
        family: "Nunito Sans", sans-serif;
      }
    }
  }
  .box {
    @extend .back;
    width: 94%;
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
    &.darkMode {
      color: hsl(0, 0%, 100%);
    }
    .img {
      width: 43%;
      height: 420px;
    }
    .info-country {
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin-left: 5%;
      width: 40%;

      h1 {
        width: 100%;
        color: hsl(200, 15%, 8%);
        &.darkMode {
          color: hsl(0, 0%, 100%);
        }

        font: {
          size: 2.2rem;
          weight: 800;
          family: "Nunito Sans", sans-serif;
        }
      }
      .list {
        display: flex;
        justify-content: space-between;
        ul {
          margin: 0;
          padding: 0;
          &.darkMode {
            color: hsl(0, 0%, 100%);
          }
          font: {
            size: 1rem;
            weight: 600;
            family: "Nunito Sans", sans-serif;
          }
          &:last-child {
            margin-left: 10%;
          }
          li {
            list-style: none;
            margin: 18px 0;
            color: hsl(200, 15%, 8%);
            &.darkMode {
              color: hsl(0, 0%, 100%);
            }
          }
        }
      }
    }
    .footer {
      margin: 7% 0 0 0;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .group-btn {
        width: 78%;
        height: 40px;
        display: flex;
        justify-content: baseline;
        flex-wrap: wrap;
        .btn {
          color: hsl(200, 15%, 8%);
          margin: 5px;
          padding: 0 38px;
          height: 28px;
          display: flex;
          align-items: center;
          &.darkMode {
            background-color: hsl(209, 23%, 22%);
            color: hsl(0, 0%, 100%);
            box-shadow: 0 0 3px hsl(209, 23%, 22%);
          }
        }
      }
    }
  }
}

// Responsive

@media (min-width: 375px) and (max-width: 999px) {
  .box {
    margin-top: 40px !important;
    justify-content: flex-start !important;
    flex-wrap: wrap;
    padding: 0;
    .img {
      width: 95% !important;
      height: auto !important;
      margin: 0 auto;
    }
    .info-country {
      margin: 40px 2% !important;
      width: 70% !important;
      flex-direction: column;
      h1 {
        font-size: 1.6rem !important;
      }
      .list {
        flex-direction: column;
        ul {
          font-size: 0.9rem !important;
          &:last-child {
            margin-left: 0 !important;
          }
        }
      }
      .footer {
        flex-wrap: wrap;
        width: 85vw;
        .group-btn {
          margin-top: 10px;
          width: 100%;
          .btn {
            width: 90px;
            justify-content: center;
          }
        }
      }
    }
  }
}
